<div class="container">
    <h2>Edit User</h2>
    <div *ngIf="item">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="item.name">
      </div>
      <div class="form-group">
        <label for="text">description</label>
        <input type="text" class="form-control" id="desc" [(ngModel)]="item.desc">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="item.price">
      </div>
      <div class="form-group">
        <label for="qty">qty</label>
        <input type="number" class="form-control" id="qty" [(ngModel)]="item.qty">
      </div>
      <div class="form-group">
        <label for="spec">spec</label>
        <input type="text" class="form-control" id="spec" [(ngModel)]="item.spec">
      </div>
      <button class="btn btn-primary" (click)="updateItem()">Save Changes</button>
    </div>
  </div>
  